# Pandas tricks & tips

This section provides a list of all the tricks

## 1. ğ—–ğ—¿ğ—²ğ—®ğ˜ğ—² ğ—® ğ—»ğ—²ğ˜„ ğ—°ğ—¼ğ—¹ğ˜‚ğ—ºğ—» ğ—³ğ—¿ğ—¼ğ—º ğ—ºğ˜‚ğ—¹ğ˜ğ—¶ğ—½ğ—¹ğ—² ğ—°ğ—¼ğ—¹ğ˜‚ğ—ºğ—»ğ˜€ ğ—¶ğ—» ğ˜†ğ—¼ğ˜‚ğ—¿ ğ—±ğ—®ğ˜ğ—®ğ—³ğ—¿ğ—®ğ—ºğ—².
 
âœ… ğ™–ğ™¥ğ™¥ğ™¡ğ™® and ğ™¡ğ™–ğ™¢ğ™—ğ™™ğ™– can help you easily apply whatever logic to your columns using the following format:

ğ™™ğ™›[ğ™£ğ™šğ™¬_ğ™˜ğ™¤ğ™¡] = ğ™™ğ™›.ğ™–ğ™¥ğ™¥ğ™¡ğ™®(ğ™¡ğ™–ğ™¢ğ™—ğ™™ğ™– ğ™§ğ™¤ğ™¬: ğ™›ğ™ªğ™£ğ™˜(ğ™§ğ™¤ğ™¬), ğ™–ğ™­ğ™ğ™¨=1)

In [7]:
import pandas as pd

# Create the dataframe
candidates= {
    'Name':["Aida","Mamadou","Ismael","Aicha","Fatou", "Khalil"],
    'Degree':['Master','Master','Bachelor', "PhD", "Master", "PhD"],
    'From':["Abidjan","Dakar","Bamako", "Abidjan","Konakry", "LomÃ©"],
    'Years_exp': [2, 3, 0, 6, 4, 3],
    'From_office(min)': [120, 95, 81, 79, 100, 34]
          }
candidates_df = pd.DataFrame(candidates)

"""
----------------My custom function-------------------
""" 
def candidate_info(row):

  # Select columns of interest 
  name = row.Name 
  is_from = row.From
  year_exp = row.Years_exp
  degree = row.Degree
  from_office = row["From_office(min)"]

  # Generate the description from previous variables
  info = f"""{name} from {is_from} holds a {degree} degree 
              with {year_exp} year(s) experience 
              and lives {from_office} from the office"""

  return info

"""
-------Application of the function to the data ------
"""
candidates_df["Description"] = candidates_df.apply(lambda row: candidate_info(row), axis=1)

## 2. ĞŸÑ€ĞµĞ¾Ğ±Ñ€Ğ°Ğ·Ğ¾Ğ²Ğ°Ğ½Ğ¸Ğµ ĞºĞ°Ñ‚ĞµĞ³Ğ¾Ñ€Ğ¸Ğ°Ğ»ÑŒĞ½Ñ‹Ñ… Ğ´Ğ°Ğ½Ğ½Ñ‹Ñ… Ğ² Ñ‡Ğ¸ÑĞ»Ğ¾Ğ²Ñ‹Ğµ

Ğ­Ñ‚Ğ¾Ñ‚ Ğ¿Ñ€Ğ¾Ñ†ĞµÑÑ Ğ² Ğ¾ÑĞ½Ğ¾Ğ²Ğ½Ğ¾Ğ¼ Ğ¼Ğ¾Ğ¶ĞµÑ‚ Ğ¿Ñ€Ğ¾Ğ¸ÑÑ…Ğ¾Ğ´Ğ¸Ñ‚ÑŒ Ğ½Ğ° ÑÑ‚Ğ°Ğ¿Ğµ Ñ€Ğ°Ğ·Ñ€Ğ°Ğ±Ğ¾Ñ‚ĞºĞ¸ Ñ„ÑƒĞ½ĞºÑ†Ğ¸Ğ¹. ĞĞµĞºĞ¾Ñ‚Ğ¾Ñ€Ñ‹Ğµ Ğ¸Ğ· ĞµĞ³Ğ¾ Ğ¿Ñ€ĞµĞ¸Ğ¼ÑƒÑ‰ĞµÑÑ‚Ğ² ÑĞ»ĞµĞ´ÑƒÑÑ‰Ğ¸Ğµ:

- Ğ²Ñ‹ÑĞ²Ğ»ĞµĞ½Ğ¸Ğµ Ğ²Ñ‹Ğ±Ñ€Ğ¾ÑĞ¾Ğ², Ğ½ĞµĞ´Ğ¾ÑÑ‚Ğ¾Ğ²ĞµÑ€Ğ½Ñ‹Ñ… Ğ¸ Ğ¾Ñ‚ÑÑƒÑ‚ÑÑ‚Ğ²ÑƒÑÑ‰Ğ¸Ñ… Ğ·Ğ½Ğ°Ñ‡ĞµĞ½Ğ¸Ğ¹ Ğ² Ğ´Ğ°Ğ½Ğ½Ñ‹Ñ….

- ÑƒĞ¼ĞµĞ½ÑŒÑˆĞµĞ½Ğ¸Ğµ Ğ²ĞµÑ€Ğ¾ÑÑ‚Ğ½Ğ¾ÑÑ‚Ğ¸ Ğ¿ĞµÑ€ĞµĞ±Ğ¾Ñ€Ğ° Ğ¿ÑƒÑ‚ĞµĞ¼ ÑĞ¾Ğ·Ğ´Ğ°Ğ½Ğ¸Ñ Ğ±Ğ¾Ğ»ĞµĞµ Ğ½Ğ°Ğ´ĞµĞ¶Ğ½Ñ‹Ñ… Ğ¼Ğ¾Ğ´ĞµĞ»ĞµĞ¹.

â¡ Ğ˜ÑĞ¿Ğ¾Ğ»ÑŒĞ·ÑƒĞ¹Ñ‚Ğµ ÑÑ‚Ğ¸ Ğ´Ğ²Ğµ Ñ„ÑƒĞ½ĞºÑ†Ğ¸Ğ¸ Ğ¸Ğ· Pandas Ğ² Ğ·Ğ°Ğ²Ğ¸ÑĞ¸Ğ¼Ğ¾ÑÑ‚Ğ¸ Ğ¾Ñ‚ Ğ²Ğ°ÑˆĞ¸Ñ… Ğ¿Ğ¾Ñ‚Ñ€ĞµĞ±Ğ½Ğ¾ÑÑ‚ĞµĞ¹. ĞŸÑ€Ğ¸Ğ¼ĞµÑ€Ñ‹ Ğ¿Ñ€Ğ¸Ğ²ĞµĞ´ĞµĞ½Ñ‹ Ğ½Ğ° Ğ¸Ğ·Ğ¾Ğ±Ñ€Ğ°Ğ¶ĞµĞ½Ğ¸Ğ¸ Ğ½Ğ¸Ğ¶Ğµ.

1ï¸âƒ£ .ğ™˜ğ™ªğ™©() Ğ´Ğ»Ñ ĞºĞ¾Ğ½ĞºÑ€ĞµÑ‚Ğ½Ğ¾Ğ³Ğ¾ Ğ¾Ğ¿Ñ€ĞµĞ´ĞµĞ»ĞµĞ½Ğ¸Ñ ĞºÑ€Ğ°ĞµĞ² Ğ±Ğ¸Ğ½Ğ°.

ĞŸÑ€Ğ¸ĞºĞ¾Ğ», Ñ‡Ñ‚Ğ¾ Ğ¾Ñ‡ĞµĞ½ÑŒ Ğ²Ğ°Ğ¶Ğ½Ğ° Ğ½Ğ°ÑÑ‚Ñ€Ğ¾Ğ¹Ğ° ÑÑ‚Ğ¾Ğ³Ğ¾ Ğ¸Ğ½ÑÑ‚Ñ€ÑƒĞ¼ĞµĞ½Ñ‚Ğ°

In [8]:
seniority = ['Entry level', 'Mid level', 'Senior level']
seniority_bins = [0, 1, 3, 5]
candidates_df['Seniority'] = pd.cut(candidates_df['Years_exp'],
                                    bins=seniority_bins, 
                                    labels=seniority, 
                                    include_lowest=True)

candidates_df

,Name,Degree,From,Years_exp,From_office(min),Description,Seniority
0,Aida,Master,Abidjan,2,120,Aida from Abidjan holds a Master degree \n ...,Mid level
1,Mamadou,Master,Dakar,3,95,Mamadou from Dakar holds a Master degree \n ...,Mid level
2,Ismael,Bachelor,Bamako,0,81,Ismael from Bamako holds a Bachelor degree \n ...,Entry level
3,Aicha,PhD,Abidjan,6,79,Aicha from Abidjan holds a PhD degree \n ...,NaN
4,Fatou,Master,Konakry,4,100,Fatou from Konakry holds a Master degree \n ...,Senior level
5,Khalil,PhD,LomÃ©,3,34,Khalil from LomÃ© holds a PhD degree \n ...,Mid level

2ï¸âƒ£ .ğ™¦ğ™˜ğ™ªğ™©() Ğ´Ğ»Ñ Ñ€Ğ°Ğ·Ğ´ĞµĞ»ĞµĞ½Ğ¸Ñ Ğ´Ğ°Ğ½Ğ½Ñ‹Ñ… Ğ½Ğ° Ğ±Ğ¸Ğ½Ñ‹ Ğ¾Ğ´Ğ¸Ğ½Ğ°ĞºĞ¾Ğ²Ğ¾Ğ³Ğ¾ Ñ€Ğ°Ğ·Ğ¼ĞµÑ€Ğ°.

ĞĞ½ Ğ¸ÑĞ¿Ğ¾Ğ»ÑŒĞ·ÑƒĞµÑ‚ Ğ±Ğ°Ğ·Ğ¾Ğ²Ñ‹Ğµ Ğ¿Ñ€Ğ¾Ñ†ĞµĞ½Ñ‚Ğ¸Ğ»Ğ¸ Ñ€Ğ°ÑĞ¿Ñ€ĞµĞ´ĞµĞ»ĞµĞ½Ğ¸Ñ Ğ´Ğ°Ğ½Ğ½Ñ‹Ñ…, Ğ° Ğ½Ğµ ĞºÑ€Ğ°Ñ Ğ±Ğ¸Ğ½Ğ¾Ğ². ( ÑĞ°Ğ¼ ÑÑ‡Ğ¸Ñ‚Ğ°ĞµÑ‚ ĞºĞ°Ñ‚ĞµÑ€Ğ¾Ğ³Ğ¸Ğ¸ Ğ¸ Ñ‚Ğ¸Ğ¿Ğ° ĞµÑĞ»Ğ¸ 4 ĞºĞ°Ñ‚ĞµĞ³Ğ¾Ñ€Ğ¸Ğ¸,Ñ‚Ğ¾ Ğ¾Ñ‚ Ğ¼Ğ°ĞºÑĞ¸Ğ¼ÑƒĞ¼Ğ° ÑĞ¼Ğ¾Ñ‚Ñ€Ğ¸Ñ‚ Ğ² Ğ¿Ñ€Ğ¾Ñ†ĞµĞ½Ñ‚Ğ½Ğ¾Ñ€Ğ¼ ÑĞ¾Ğ¾Ñ‚Ğ½Ğ¾ÑˆĞµĞ½Ğ¸Ğ¸ )

ğ™ğ™˜ğ™šğ™£ğ™–ğ™§ğ™ğ™¤: ĞºĞ»Ğ°ÑÑĞ¸Ñ„Ğ¸Ñ†Ğ¸Ñ€Ğ¾Ğ²Ğ°Ñ‚ÑŒ Ğ²Ñ€ĞµĞ¼Ñ Ñ€Ğ°Ğ±Ğ¾Ñ‚Ñ‹ ĞºĞ°Ğ½Ğ´Ğ¸Ğ´Ğ°Ñ‚Ğ¾Ğ² Ğ½Ğ° ğ™œğ™¤ğ™¤ğ™™, ğ™–ğ™˜ğ™˜ğ™šğ™¥ğ™©ğ™–ğ™—ğ™¡ğ™š Ğ¸Ğ»Ğ¸ ğ™©ğ™¤ğ™¤ğ™¤ ğ™¡ğ™¤ğ™£ğ™œ.

In [9]:
commute_time_labels = ["good", "acceptable", "too long"]
candidates_df["Commute_level"] = pd.qcut(
                                candidates_df["From_office(min)"],
                                q = 3, 
                                labels=commute_time_labels
                                )
candidates_df

,Name,Degree,From,Years_exp,From_office(min),Description,Seniority,Commute_level
0,Aida,Master,Abidjan,2,120,Aida from Abidjan holds a Master degree \n ...,Mid level,too long
1,Mamadou,Master,Dakar,3,95,Mamadou from Dakar holds a Master degree \n ...,Mid level,acceptable
2,Ismael,Bachelor,Bamako,0,81,Ismael from Bamako holds a Bachelor degree \n ...,Entry level,acceptable
3,Aicha,PhD,Abidjan,6,79,Aicha from Abidjan holds a PhD degree \n ...,NaN,good
4,Fatou,Master,Konakry,4,100,Fatou from Konakry holds a Master degree \n ...,Senior level,too long
5,Khalil,PhD,LomÃ©,3,34,Khalil from LomÃ© holds a PhD degree \n ...,Mid level,good